/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*--------------- Base styles: header and footer ----------*/

body,
html {
  width: 100%;
}

header,
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

/* ---------------- header styles ---------------------------- */

header {
    padding: 15px 0;
}

header .content-wrapper {
    display: flex; /* make the  */
    width: 88%;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}


.header-divider { /* space between logo and nav bar */
   width: 100%;/* lets the space grow automatically */
   height: 1px;
   margin: 10px 0 15px 0;
}

/*.logo {
  padding: 0 0 0 30px; /*to make sure the logo keeps some space to the page start */
/*} */

header nav { /* nav bar styles */
    align-items: center; /* lets nav bar appear at end of header */
    justify-content: center;
    flex-flow: row wrap;
    width: 60%;
}


header nav ul {
  display: flex; /* so that the li elements become flex items */
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}


/* ------------ footer styles ------------------------ */

footer .content-wrapper {
    margin: 50px 0;
}

footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center; /* to get space between the contact and social media parts and to the page end*/
    flex-flow: column;
}

footer address {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 46px;
}

footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

footer .social-icons {
    display: flex; /* to let the social icons appear below */
    align-items: center;
    justify-content: space-between;
}

footer {
    flex-flow: column; /* to turn the two divs ("content-wrapper" + "copyright") into flex items + let them appear below  */
}

footer .copyright {
    display: flex; /* to turn p element into flex item */
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
}


/* -------------- Mobile styles Homepage - --------------*/

main {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}


.hero-area {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 100vh; /* to have the hero image stretched over whole screen (100% vertical height)*/
    margin: 0;
    width: 88%;
}

.hero-area h1 {
    padding-top: 53px;
}

.hero-area .content-wrapper {
    width:100%;
}

aside {
    display: flex; /* to center the content */
    align-items: center;
    justify-content: center;
    flex-flow: column; /* to put all main area content items below of each other */

}

aside .content-wrapper {
    display: flex; /* to allow putting the "want to join..." section and the form next to each other and center */
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    width: 88%;
}

.form-description {
    padding: 30px 0;
}

.signup-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 50px;
}

.features {
    display: flex;
    align-items: flex-start; /* to set the headline to the left */
    justify-content: center;
    flex-flow: column;
    width: 88%;
}

.features .content-wrapper {
      width: 100%;
}

.feature-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column; /* to wrap the items  */
}



.features article {
  width: 50%;
}

.feature-items p {
  padding-bottom: 54%;
}

.features h1 {
    padding: 54px 0px; /* space to left + right page border */
}


.review {
    display: flex;
    align-items: flex-start; /* to set the headline to the left */
    justify-content: center;
    flex-flow: column;
    width: 88%;
}

.review h2 {
    padding: 54px 0 29px 0;
}

.review h3 {
    padding: 24px 0;
}

.review p {
    padding-bottom: 50px;
}

.review .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
}

/* -------------- Mobile styles About -------------------*/

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.mission .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column; /* to have the header and the mission content below of each other */
}

.mission h2 {
    padding-top: 50px ;
    padding-bottom: 20px;
    width: 88%;
}

.mission-content {
    width: 88%;
}

.mission p {
    padding-bottom: 20px;
}

.map {
    width: 100%;
}

.contact-section {
    width: 88%;
}

.contact-section .content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
}

.contact-section .content-wrapper h2 {
    padding: 20px 0;
}

.contact-section address {
    display: flex; /* to get the general info and chat with facilitator beside each other */
    align-items: flex-start; /* have both headlines at the same hight */
    justify-content: center;
    flex-flow: column;
}


.contact-section address p {
    padding: 17px 0;
}



/* -------------- Mobile styles FAQ ---------------------*/

.faq {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    width: 88%;
}

.faq h2 {
  padding-top: 50px;
}

.faq h3 {
  padding-bottom: 13px;
}

.faq .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.faq-content {
    padding-bottom: 50px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* ------------ Tablet styles here ------------*/
    header .content-wrapper {
        flex-flow: row nowrap;
    }


    .header-divider { /* space between logo and nav bar */
       width: 100%;/* lets the space grow automatically */
       height: 1px;
       margin: 10px 0 15px 0;
    }


    aside .content-wrapper {
      flex-flow: row nowrap;
      justify-content: space-around;
    }

    .form-description {
      padding: 0;
      /*flex-basis: 260px;*/
    }

    .signup-form {
      /*flex-basis: 290px;*/
    }

    .feature-items {
        flex-flow: row wrap; /* to wrap the items  */
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 60px; /* get the space between the features */
    }

    .features article {
        flex-basis: 175px; /* sets the width of the element */
        padding: 0 50px;
    }

    .review .content-wrapper {
      flex-flow: row nowrap;
    }

    .review-text {
      flex-basis: 320px;
    }

    .group-photo {
      flex-basis: 320px;
      padding-right: 20px;
    }

    /* ------ about styles------- */
    .mission-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row nowrap;
    }

    .mission-content p {
      flex-basis: 45%; /* to auto grow/shrink --> in % */
    }

    .contact-section .content-wrapper address {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: row nowrap;
      }

  /* ---- FAQ styles ------ */
  .faq h2 {
      padding-bottom: 40px;
  }

  .faq .content-wrapper {
      flex-flow: row wrap;
      justify-content: space-between;
  }

  .faq-content {
    flex-basis: 45%;
  }

  /* ---- Footer styles ------ */
    footer .content-wrapper {
      width: 100%;
    }
    footer .footer-content {
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: flex-start;
    }


}

@media only screen and (min-width: 1200px) {
  /* ------------ Desktop styles here ------------*/
  aside .content-wrapper {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .form-description {
    padding: 0;
    /*flex-basis: 260px;*/
  }

  .signup-form {
    /*flex-basis: 290px;*/
  }

  .feature-items {
      flex-flow: row wrap; /* to wrap the items  */
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 60px; /* get the space between the features */
  }

  .features article {
      flex-basis: 175px; /* sets the width of the element */
      padding: 0 50px;
  }

  .review .content-wrapper {
    flex-flow: row nowrap;
  }

  .review-text {
    flex-basis: 490px;
  }

  .group-photo {
    flex-basis: 490px;
    padding-right: 40px;
  }

  /* ------ about styles------- */
  .mission-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  .mission-content p {
    flex-basis: 45%; /* to auto grow/shrink --> in % */
  }

  .contact-section .content-wrapper address {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: flex-start;
      flex-flow: row nowrap;
    }

      /* ---- FAQ styles ------ */
      .faq h2 {
          padding-bottom: 40px;
      }

      .faq .content-wrapper {
          flex-flow: row wrap;
          justify-content: space-between;
      }

      .faq-content {
        flex-basis: 45%;
}

  /* ---- footer styles ------- */
  footer .content-wrapper {
    width: 100%;
  }
  footer .footer-content {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }

}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
